@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Planeta.Modules.DNNModule1.Models.MessageViewModel>>
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

    <div id="Items-@Dnn.ModuleContext.ModuleId">
        @foreach (var item in Model)
        {
            <h2>@item.Content</h2>
        }

    </div>

