@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Planeta.Modules.DNNModule1.Models.MessageViewModel>
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/DesktopModules/MVC/DNNModule1/Views/Shared/_Layout.cshtml";
}

<h2>NewMessage</h2>

